@model IEnumerable<DMDProject.Models.Author_DocumentEntity>

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
@foreach (var item in Model)
{
        <dt>
            @Html.DisplayNameFor(model => model.Author_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => item.Author_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Document_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => item.Document_id)
        </dd>
}

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
